<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <!-- Modal for Login -->
<div class="modal" tabindex="-1" [ngClass]="{ 'show': isModalVisible }" *ngIf="isModalVisible">
    <div class="modal-dialog">
      <div class="modal-content animated-popup">
        <!-- Close button -->
       
        <div class="container-box">
            <div class="form-box">
                <span class="close-btn" (click)="closeModal()">&times;</span>
                <h2>Login</h2>
                <form #signupForm="ngForm">
                    <div class="input-box">
                        <fa-icon [icon]="faUser"></fa-icon>
                        <input type="tel" name="tel" ngModel required>
                        <label>Phone Number</label>
                    </div>
                    <div class="input-box">
                        <fa-icon [icon]="faLock"></fa-icon>
                        <input type="password" name="password" ngModel required>
                        <label>Password</label>
                    </div>
                    <div class="terms">
                        <div class="forgot-password">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="social-login">
                        <p>Or login with:</p>
                        <button type="button" class="social-btn facebook-btn">
                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                        </button>
                        <button type="button" class="social-btn google-btn">
                            <fa-icon [icon]="['fab', 'google']"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
   
      </div>
    </div>
  </div>
 
</body>
</html>