<div class="stepper">
  <div>
      <button routerLink="/contactDetailsForm" class="circle"><span>1</span>Contact Details</button>
  </div>
  <div class="line"></div>
  <div>
    <button  routerLink="/businessDetailsForm" class="circle"><span>2</span>Business Details</button>
  </div>
  <div class="line"></div>
  <div>
    <button class="circle active"><span>3</span>List Services</button>
  </div>
</div>

<div class="wrapper">
  <div class="title">
    LIST YOUR SERVICES
  </div>
  <div class="tabs_wrap">
    <ul>
      <li data-tabs="male">Male</li>
      <li data-tabs="female">Female</li>
      <li data-tabs="both" class="active">Both</li>
    </ul>
  </div>
  <div class="container">
    <ul>
      <li class="item_wrap male online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/Ctwf8HA.png" alt="">
            </div>
            <div class="data">
              <p class="name">BEAUTY PARLOUR</p>
              <p class="distance">facial ,</p>
            </div>
          </div>
         </div>
        <div class="extra-content"></div>
      </li>
      <li class="item_wrap male online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/2Necikc.png" alt="">
            </div>
            <div class="data">
              <p class="name">BEAUTY PARLOUR</p>
              <p class="distance">facial ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol ,</p>
              <p class="distance">tan removal ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol</p>
            </div>
          </div>
        </div>
        <div class="extra-content"></div>
      </li>
      <li class="item_wrap male offline">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/2pGPLrl.png" alt="">
            </div>
            <div class="data">
              <p class="name">BEAUTY PARLOUR</p>
              <p class="distance">facial ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol ,</p>
              <p class="distance">tan removal ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol</p>
            </div>
          </div>
        </div>
        <div class="extra-content"></div>
      </li>
      <li class="item_wrap male offline">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/A1Fjq0d.png" alt="">
            </div>
            <div class="data">
              <p class="name">BEAUTY PARLOUR</p>
              <p class="distance">facial ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol ,</p>
              <p class="distance">tan removal ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol</p>
            </div>
          </div>
        </div>
        <div class="extra-content"></div>
      </li>
      <li class="item_wrap female online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/JzUIF4o.png" alt="">
            </div>
            <div class="data">
              <p class="name">BEUTY PARLOUR</p>
              <p class="distance">facial ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol ,</p>
              <p class="distance">tan removal ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol</p>
            </div>
          </div>
        </div>
        <div class="extra-content"></div>
      </li>
      <li class="item_wrap female offline">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/jQj1I8E.png" alt="">
            </div>
            <div class="data">
              <p class="name">BEAUTY PARLOUR</p>
              <p class="distance">facial ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol ,</p>
              <p class="distance">tan removal ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol</p>
            </div>
          </div>
        </div>
        <div class="extra-content"></div>
      </li>
      <li class="item_wrap female online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/h2EFLO9.png" alt="">
            </div>
            <div class="data">
              <p class="name">BEAUTY PARLOUR</p>
              <p class="distance">facial ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol ,</p>
              <p class="distance">tan removal ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol</p>
            </div>
          </div>
        </div>
        <div class="extra-content"></div>
      </li>
      <li class="item_wrap female online">
        <div class="item">
          <div class="item_left">
            <div class="img">
              <img src="https://i.imgur.com/yUW8QfW.png" alt="">
            </div>
            <div class="data">
              <p class="name">BEAUTY PARLOUR</p>
              <p class="distance">facial ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol ,</p>
              <p class="distance">tan removal ,</p> <p class="distance">face mask ,</p> <p class="distance">charcol</p>
            </div>
          </div>
        </div>
        <div class="extra-content"></div>
      </li>
    </ul>
  </div>  
  <div class="footer">
    <div class="containerf">
      <div class="search-container left">
        <div class="input-button-wrapper">
          <input class="search" id="serviceInput" type="text" placeholder="Add service" style="display: none;" />
          <label class="button searchbutton" id="addMoreBtn" for="searchleft">
            <span class="mglas">Add More /&nbsp;</span>
            <span class="mglass">&#9906;</span>
          </label>
        </div>
      </div>
      <div class="save-container middle">
        <a  id="saveBtn" class="button save-btn">Save</a>
      </div>
    </div>
  </div>
</div>
