<div class="stepper">
  <div>
      <button class="circle" routerLink="/freelancerContactDetails"><span>1</span>Contact Details</button>
  </div>
  <div class="line"></div>
  <div>
    <button class="circle" routerLink="/freelancerServiceOverview"><span>2</span>Service Overview</button>
  </div>
  <div class="line"></div>
  <div>
    <button class="circle active"><span>3</span>Set Availability</button>
  </div>
</div>

<div class="d-flex justify-content-center">

    <div class="form-container">
        <h4 class="mb-3">Set About Your General Vailability</h4>
        <div action="#" method="POST">
          <select>
            <option value="" selected disabled hidden>Days Available</option>
            <option value="Mr"></option>
            <option value="Ms"></option>
            <option value="Mrs"></option>
          </select>
          <select>
            <option value="" selected disabled hidden>Time Slots Available</option>
            <option value="Mr"></option>
            <option value="Ms"></option>
            <option value="Mrs"></option>
          </select>
          <select>
            <option value="" selected disabled hidden>Service Radius</option>
            <option value="Mr"></option>
            <option value="Ms"></option>
            <option value="Mrs"></option>
          </select>          
          <button type="submit" class="submit-btn" routerLink="/businessProfile">Save and Continue</button>
        </div>
    </div>

</div>